.productCard {
  @include flexible(center, center, column, 15px);

  width: 25%;
  min-width: 280px;

  padding: 5px 25px;
  
  border-radius: 6px;
  
  &__image {
    width: 50%;
    height: 30%;
  }
}
