.header {
  width: 100%;
  @include flexible(center, space-around);
  height: 90px;
  background-color: $white-light-color;

  @media screen and (max-width: 450px) {
    @include flexible(center, normal, column, 5px);
    padding: 5px 0;
    height: 90px;
  }
  &__logo {
    width: 65px;
    height: 65px;

    @media screen and (max-width: 450px) {
      display: none;
    }
  }

  &__main {
    width: 25%;
  }

  &__balance {
    width: max-content;
    @include flexible(center, normal, row, 6px);
    img {
      width: 27px;
      height: 27px;
    }
  }
}
