//Main colors
$primary-color: #9f2ef4;
$primary-light-color: #bb3ac0;
$secondary-color: #f97d64;
$yellow-color: #ffcd42;
$danger-color: #ec2F4B;
$success-color: #21e26b;
$error-color: #dc3545;

//Font colors
$white-color: #fff;
$white-light-color: #ebebeb;
$gray-color: #6d7885;
$gray-light-color: #798ba5;
$gray-dark-color: #9b9b9b;
$cyan-color: #29ffc6;
$cyan-light-color: #20e3b2;
$blue-color: #009FFF;
