//Main colors
$primary-color: #9f2ef4;
$secondary-color: #f97d64;
$yellow-color: #ffcd42;
$danger-color: #eb5757;
$success-color: #16a750;
$error-color: #dc3545;

//Font colors
$white-color: #fff;
$white-light-color: #ebebeb;
$gray-color: #6d7885;
$gray-light-color: #798ba5;
$gray-dark-color: #9b9b9b;
$cyan-color: #3dd5a8;
$cyan-light-color: #E0FFFF;